/*
            MARIONA BATALLA TAYLOR
            mariona.batalla.taylor@gmail.com
            IronHack - FrontEnd Bootcamp
            Week 2 - Day 2 Lab
            June 2022
*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');

* 
{
    /* we initially define by default margin and padding as 0*/
    padding: 0;
    margin: 0;

    /*typo:*/
    font-family: "Roboto";
    font-size:24px;
    line-height:1.4em;
}



/****       HEADER     ****/
.header
{
    /*  background */
    background-image:url('../images/apple-pie.jpg');
    background-position: 0 0; /*position of the background-image to 0px horizontal and 0px vertical*/
    background-repeat:no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    height:500px;
    /*background-color:tomato;*/

}

h1
{
    font-size: 4em;
    text-align:center;
    color:white;
    font-weight:normal;
    padding-top:150px;


}

h2
{
    font-weight:300;
    margin-top:40px;
    margin-bottom:20px;


}

/**** CONTENT CONTAINER ****/
#content
{
    padding: 0 100px;
    
}

/****       INTRO     ****/
#intro
{
    padding-top:60px;
    /*background-color:cornflowerblue;*/
}

#intro img
{
    width: 440px;
    margin-left:auto;
    margin-right:auto;
}

/****       INGREDIENTS     ****/
#ingredients ul
{
    list-style-type:none;
}

img
{
    width: 440px;

    /* we center the images horizontally */
    display:block;
    margin-left:auto;
    margin-right:auto;

    /* we add margins vertically */
    margin-top:50px;
    margin-bottom: 20px;


}

/****       DIRECTIONS     ****/
#directions
{
    padding-bottom:80px;
}

#directions ul
{
    list-style-type:none;
}

ul
{
    padding-left:15px;
}